body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main-content {
    flex: 1;
}
.youstar-logo {
    max-height: 5rem;
}
.btn-logout {
background-color: #235eba;
border-color: #1D4D99;
color: #fff;
padding: 0.75rem 2rem;
}
.btn-logout:hover {
background-color: #1D4D99;
border-color: #173c77;
}
.no-content, .error {
    font-size: 1.5rem;
}
.purge-warning {
    margin: 1rem 0rem;
    background-color: #d3f1fd;
    color: black;
    border-color: #99e0fd;
}
.carded-label {
    display: none;
}
.download-link {
    color: #235EBA;
}
.action-links {
    display: none;
}
.action-links a {
    color: #115F7E;
}
.btn.video-actions {
    background-color: transparent;
}
.btn.video-actions:hover{
    border: 1px solid #d0d0d0;
}
footer {
    background-color: #194164;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.footer-link {
    color: #fff;
}
.footer-link:hover {
    color: #fff;
    text-decoration: underline;
}
@media (max-width: 800px) {
    .youstar-logo {
        max-height: 4rem;
    }
    thead {
        display: none;
    }
    tr {
      margin-bottom: 0px !important;
      margin-top: 1.5rem;
      display: block;
      border-bottom: 2px solid black;
    }
    .table td {
        border-top: 0px;
    }
    td {
      display: block;
      text-align: right;
      
      border-bottom: 1px dotted black;
    }
    td:last-child{
      border-bottom: 0;
    }
    .carded-label {
        display: block;
        font-weight: bold;
        float: left;
    }
    .dropdown {
        display: none;
    }
    .action-links {
        display: flex;
        justify-content: space-between;
        font-size: 80%;
    }
}