<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>YouStar Media Depot</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/mediadepot.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-brand">
                    <img class="youstar-logo" src="images/YouStarStudio-logo-rgb.jpg" alt="You Star Media Depot"/>
                </div>
                <button type="button" class="btn btn-primary navbar-btn btn-sm btn-logout">Logout</button>
            </div>
        </div>
        <div class="container main-content">
            <h1 class="sr-only">Download Your YouStar Files</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope = "col">
                            <p class="sr-only">
                                Thumbnail
                            </p>
                        </th>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            File Size
                        </th>
                        <th scope="col">
                            Created
                        </th>
                        <th scope="col">
                            Available Until
                        </th>
                        <th>
                            <p class="sr-only">
                                Video Actions
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="thumbnail-container">
                                <img class="md-thumbnail" src="images/video-default.png" alt="MyFirstMovie Thumbnail" />
                            </div>
                        </td>
                        <td>
                            <div class="carded-label">File Name:</div>
                            MyFirstMovie.m4v
                        </td>
                        <td><div class="carded-label">File Size:</div>7MB</td>
                        <td><div class="carded-label">Created:</div>October 17, 2017</td>
                        <td><div class="carded-label">Available Until:</div>October 31, 2017</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn video-actions" type="button" id="video1id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="View actions for video">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="video1id">
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Copy to Mediaflo</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                            <div class="action-links">
                                <a href="#">Download</a>
                                <a href="#">Copy to Mediaflo</a>
                                <a href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="thumbnail-container">
                                <img class="md-thumbnail" src="images/video-default.png" alt="MyFirstMovie Thumbnail" />
                            </div>
                        </td>
                        <td><div class="carded-label">File Name:</div>Meteorology101Project.m4v</td>
                        <td><div class="carded-label">File Size:</div>4MB</td>
                        <td><div class="carded-label">Created:</div>October 30, 2017</td>
                        <td><div class="carded-label">Available Until:</div>November 12, 2017</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn video-actions" type="button" id="video2id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="View actions for video">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="video2id">
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Copy to Mediaflo</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                            <div class="action-links">
                                <a href="#">Download</a>
                                <a href="#">Copy to Mediaflo</a>
                                <a href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="thumbnail-container">
                                <img class="md-thumbnail" src="images/video-default.png" alt="MyFirstMovie Thumbnail" />
                            </div>
                        </td>
                        <td><div class="carded-label">File Name:</div>EconomicsFinalProject.m4v</td>
                        <td><div class="carded-label">File Size:</div>3MB</td>
                        <td><div class="carded-label">Created:</div>November 4, 2017</td>
                        <td><div class="carded-label">Available Until:</div>November 20, 2017</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn video-actions" type="button" id="video3id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="View actions for video">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="video3id">
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Copy to Mediaflo</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                            <div class="action-links">
                                <a href="#">Download</a>
                                <a href="#">Copy to Mediaflo</a>
                                <a href="#">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <footer>
            Need Help? Please contact <a href="#" class="footer-link">helpful.person@txstate.edu</a>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>