{% extends "layout.html" %}

{% block content %}
<div class="container main-content">
    <h1 class="sr-only">Download Your YouStar Files</h1>
    {% if media|length > 0 %}{% for e in media %}
    <div class="purge-warning alert alert-primary alert-dismissible fade show" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        Videos will be permanently deleted after 3 weeks.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    File Size
                </th>
                <th scope="col">
                    Created
                </th>
                <th scope="col">
                    Available Until
                </th>
                <th>
                    <p class="sr-only">
                        Video Actions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="carded-label">File Name:</div>
                    {{ e.name }}
                </td>
                <td><div class="carded-label">File Size:</div>{{ e.size | filesizeformat }}</td>
                <td><div class="carded-label">Created:</div>{{ e.date | date(format="%b %e, %Y")}}</td>
                <td><div class="carded-label">Available Until:</div>{{ e.date }}</td>
                <td>
                    <a href="{{ e.path }}">Download</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endfor %}{% else %}
    <div class="no-content">
        No content available.
    </div>
{% endif %}
</div>
{% endblock content %}