{% extends "layout.html" %}

{% block content %}
<div class="container main-content">
    <h1 class="sr-only">Download Your YouStar Files</h1>
    <div class="purge-warning alert alert-primary" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        Videos will be permanently deleted after 3 weeks.
    </div>
    {% if media|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    File Size
                </th>
                <th scope="col">
                    Created
                </th>
                <th scope="col">
                    Available Until
                </th>
                <th>
                    <p class="sr-only">
                        Video Actions
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for e in media %}
            <tr>
                <td>
                    <div class="carded-label">File Name:</div>
                    {{ e.name }}
                </td>
                <td><div class="carded-label">File Size:</div>{{ e.size | filesizeformat }}</td>
                <td><div class="carded-label">Created:</div>{{ e.date | dateadd | date(format="%b %e, %Y")}}</td>
                <td><div class="carded-label">Available Until:</div>{{ e.date | dateadd(days=21) | date(format="%b %e, %Y")}}</td>
                <td>
                    <a class="download-link" href="{{ e.path }}">
                        <span>Download</span><i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-content">
        No content available.
    </div>
{% endif %}
</div>
{% endblock content %}
